.add-list__form {
  background: var(--color-light-grey);
  max-width: 35em;
  display: flex;
  flex-direction:column;
  padding: 1em 1em 0.5em 1em;
  margin: 0 auto;
  position: relative;
}

.add-list__form input, .add-list--create {
  margin-bottom: 0.8em;
  font-size: 1em;
  height:2em;
  border-radius:5px;
  border: 1px solid rgba(40, 40, 70, 0.3);
  padding: 0.5em;
  width: 100%;
}

.add-list--create {
  background: rgb(7, 98, 245);
  border:none;
  border-radius:5px;
  height:2.5em;
  color: var(--color-light-grey);
  width: 100%;
}

.add-list--create:hover {
  cursor: pointer;
  text-decoration: underline;
}