.list-item__button {
  background:white;
  color: #282846;
  height: 1.5em;
  width: 3.5em;
  border: 1px solid rgba(40, 40, 70, 0.3);
  border-radius: 5px;
  margin-right: 1em;
}

.list-item__button:hover {
  background:#282846;
  color: white;
  cursor: pointer;
}

.list__items {
  max-width: 35em;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  background: var(--color-light-grey);
}

.list-item {
  background: white;
  border: 1px solid rgba(40, 40, 70, 0.2);
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin: 0.5em;
  box-sizing: border-box;
  color: #282846;
  width: 100%;
  height: auto;
}

.list-item h3 {
  padding-bottom: 1em;
}

.list-item__actions {
  display: flex;
  /* justify-content: space-around; */
  padding-bottom: 1em;
}

.list-item--daysago {
  padding-bottom: 1em;
}

.list-item--dategroup {
  font-size: x-small;
  opacity: 0.5
}

.list-item__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .list-item__content {
    flex-direction: row;
  }

  .list-item__button {
    margin-left: 1em;
    margin-right: 0;
  }
}