.list-item__button {
  background:white;
  color: #282846;
  height: 1.5em;
  width: 3.5em;
  border: 1px solid rgba(40, 40, 70, 0.3);
  margin-left: 1em;
  border-radius: 5px;
}

.list-item__button:hover {
  background:#282846;
  color: white;
  cursor: pointer;
}

.list__items {
  margin: 0;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  /* gap: 1em; */
}

.list__item {
  background: white;
  border: 1px solid rgba(40, 40, 70, 0.2);
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin: 0.5em;
  /* position: relative; */
  box-sizing: border-box;
  color: #282846;
  max-width: 12em;
}