.landing__container {
  /* font-family: 'Nunito', sans-serif; */
  max-width: 375px;
  margin: 0 auto;
  /* padding: 1rem; */
  border-radius: 10px;
  /* border: 1px solid rgb(7, 98, 245, 0.4); */
}

.landing__container h4 {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 500;
}

.landing__container p {
  font-weight: 300;
  padding: 1em;
}

.landing__container a {
  padding: 1em;
  
}

.landing__link {
  text-align: center;
  margin-top: 2.5em;
  /* border-radius: 4px; */
  
}

.landing__link_a {
  color:rgb(7, 98, 245);
  padding: 1em 3em;
  border: 1px solid rgb(7, 98, 245, 0.6);
  border-radius: 4px;
}

.landing__link_a:hover {
  color: white;
  background-color: rgb(7, 98, 245);
  text-decoration: underline;
}

/* .landing__link:hover {
  background-color: rgb(7, 98, 245);
  color: white;
} */